<link rel="import" href="/components/polymer/polymer.html">
<link rel="import" href="/components/paper-shadow/paper-shadow.html">

<polymer-element name="side-bar">

<template>
    <style>
        :host {
            left: 0;
            top: 0;
            position: fixed;
            float: left;
            width: 15%;
            height: 100%;
            background-color: #fcfcfc;
        }
        #about {
            background-color: #8b8d90;
            height: 20%;
        }
        #nav {
            background-color: #fcfcfc;
            height: 80%;
        }
        ::content ul {
            list-style-type: none;
        }
    </style>
    <div id="about">
        <content select="[about]"></content>
    </div>
    <div id="nav">
        <content class='list' select="ul"></content>
    </div>
    <paper-shadow z='2'></paper-shadow>
</template>

<script>
  Polymer({});
</script>

</polymer-element>
